/*inter tags*/

body,html {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;

	-moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}
h1,h2,h3 {
	display: block;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
}
h2 {
	font-size: 37px;
	margin-bottom: 60px;
}
h3 {
	color: grey;
	font-size: 22px;
	margin-bottom: 45px;

}
a:hover,a:active,a {
	text-decoration: none;
	color: white;
}
/*index css*/
.header__bg {
	background: #472a2c url(../img/main-cat.jpg) no-repeat center center /cover;
	height: 100vh;
	color: white;
}
header {
	padding: 25px 0 10px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0 0 10px 10px; 
	box-shadow:0 0 20px rgba(0,0,0,0.8);
}
.logo {
	text-transform: uppercase;
	line-height: 18px;
}
.logo > strong {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
.main-menu {
	padding: 0
	width: 70%;
	margin: 0 auto;
}
.main-menu__item {
	text-transform: uppercase;
	font-weight: 900;
	float: left;
	list-style: none;
	margin: 0 5% ;
}
.header__email {
	font-weight: 200;
	float: right;
	border-bottom: 1px dashed white;
}
/*offer*/
.offer * {
	text-align: center;

}
.offer > h1 {
	margin-top: 25vh;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0.15em;
}

.offer > h2 {
	font-size: 49px;
	font-weight: 400;
}
.offer > i {
	font-size: 25px;
	display: block;
	position: absolute;
	bottom: 20px;
	left:50%;
	border: 2px solid white ;
	border-radius: 50%;
	line-height: 35px;
	width: 40px;

}
.about-me__block {
	float: left;
	margin:0 5%;
}
.about-me__number { 
	border-radius: 50%;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border: 2px solid; 
}
.about-me__number > div {
	margin: 5%;
	border-radius: 50%;
	font-size: 33px;
	text-align: center;
	height: 90%;
	width: 90%;
	line-height: 90px;
	border: 1px solid grey; 
}
.about-me__number_cat {
	border: none;
	background: url(../img/cat.png) no-repeat center center /cover;
}

.about-me__text {
	width: 100px;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0;
}
.about-me__links > a {
	color: black;
	display: block;
	text-decoration-line: underline;
	margin: 1% 0;

}
.about-me__links {
	float: left;
}
.about-me__shiny > img {
	margin: 0 20px; 
	width: 80px;
}
.about-me__shiny {
	text-align: center;
	font-weight: 400;
	color: grey;
}
.skill__circle {
	background: url(../img/cat_skills.png) center center /cover;
	height: 95px;
	width: 120px;
	line-height: 130px;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
	float: left;
}
.skill__text {
	line-height: 95px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}
.works {
	margin-top: 40px;
}
.work__img {
	display: block;
	height: 50vh;
	padding: 10vh 50px 0;
}
	
.work__img_1slide {
	background:grey url(../img/1.jpg) center center /cover;

}
.work__img_2slide {
	background:grey url(../img/2.jpg) center center /cover;

}
.work__img_3slide {
	background:grey url(../img/3.jpg) center center /cover;

}
.work__shadow {
	height: 80%;
	width: 30%;
	background: rgba(0,0,0,0.7);
	box-shadow: 0 0 20px 13px rgba(0,0,0,0.7);
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 25px;
	padding-top: 13vh;

}
.work__shadow > a {
	display: block;
	font-weight: 400;
	text-decoration:underline;

}
.footer {
	margin-top: 50px;
	color: grey;
	font-size: 11px;
	font-weight: 400;
}